<h1 style="padding:20px;background-color:#3498db;margin:0;color:white;font-family:Georgia;font-size:300%;text-align:center;border-radius: 20px 20px;overflow:hidden;font-weight:500">ðŸ’µ Data Scientist Salaries ðŸ“Š</h1>

<a id="3"></a>
<h1 style="padding:10px;background-color:#3498db;opacity: 0.8;margin:0;color:white;font-family:newtimeroman;font-size:200%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Importing Libraries ðŸ“š</h1>

In [1]:
# For loading data
import pandas as pd
import numpy as np

# pandasql allows you to query pandas DataFrames using SQL syntax
import pandasql as ps

# For ploting graph / Visualization
import plotly.graph_objects as go
import plotly.express as px
from plotly.offline import iplot
import plotly.figure_factory as ff

import plotly.io as pio
import seaborn as sns
import matplotlib.pyplot as plt

# To convert country code to country name
import country_converter as coco

from io import StringIO

In [2]:
pd.set_option('display.max_colwidth', None)

<a id = "4"></a>
<h1 style="padding:10px;background-color:#3498db;opacity: 0.8;margin:0;color:white;font-family:newtimeroman;font-size:200%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Loading Dataset ðŸ’¾</h1>

In [3]:
(pd
 .read_csv("columns_descriptions.csv")
 .style
 .set_properties(**{'text-align': 'left'}))

In [4]:
salaries = pd.read_csv('ds_salaries.csv')

In [5]:
# To see the first five records we can use salaries.head() method.
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [6]:
# Function query to execute SQL queries
def query(query):
    return ps.sqldf(query)

In [7]:
# Showing Top 5 rows of data
query("""
SELECT * 
FROM 
    salaries 
LIMIT 
    5
""")

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [8]:
# check whether we have any null values in our dataset or not.
salaries.isna().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [9]:
# Converting countries code to country names
salaries["employee_residence"] = coco.convert(names=salaries["employee_residence"], to="name")
salaries["company_location"] = coco.convert(names=salaries["company_location"], to="name")

In [10]:
# Replacing values in column - experience_level:
salaries['experience_level'] = query("""
SELECT 
    REPLACE(
        REPLACE(
            REPLACE(
                REPLACE(
                    experience_level, 
                                    'MI', 'Mid level'), 
                                    'SE', 'Senior Level'), 
                                    'EN', 'Entry Level'), 
                                    'EX', 'Expert Level') 
FROM 
    salaries""")

In [11]:
# Replacing values in column - experience_type:
salaries['employment_type'] = query("""
SELECT 
    REPLACE(
        REPLACE(
            REPLACE(
                REPLACE(
                    employment_type, 
                                    'PT', 'Part Time'), 
                                    'FT', 'Full Time'), 
                                    'FL', 'Freelance'), 
                                    'CT', 'Contract') 
FROM 
    salaries
""")

In [13]:
salaries['overseas'] = [False
                        if row.employee_residence == row.company_location
                        else True
                        for row in salaries.itertuples()]

In [14]:
# Replacing values in column - company_size :
salaries['company_size'] = query("""
SELECT 
    REPLACE(
        REPLACE(
            REPLACE(
                company_size, 
                            'M', 'Medium'), 
                            'L', 'Large'), 
                            'S', 'Small') 
FROM 
    salaries
""")

In [15]:
# Replacing values in column - remote_ratio :
salaries['remote_ratio'] = query("""
SELECT 
    REPLACE(
        REPLACE(
            REPLACE(
                remote_ratio, 
                            '100', 'Fully Remote'), 
                            '50', 'Partially Remote'), 
                            '0', 'Non Remote Work') 
FROM 
    salaries
""")

In [16]:
salaries

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,overseas
0,2020,Mid level,Full Time,Data Scientist,70000,EUR,79833,Germany,Non Remote Work,Germany,Large,False
1,2020,Senior Level,Full Time,Machine Learning Scientist,260000,USD,260000,Japan,Non Remote Work,Japan,Small,False
2,2020,Senior Level,Full Time,Big Data Engineer,85000,GBP,109024,United Kingdom,Partially Remote,United Kingdom,Medium,False
3,2020,Mid level,Full Time,Product Data Analyst,20000,USD,20000,Honduras,Non Remote Work,Honduras,Small,False
4,2020,Senior Level,Full Time,Machine Learning Engineer,150000,USD,150000,United States,Partially Remote,United States,Large,False
...,...,...,...,...,...,...,...,...,...,...,...,...
602,2022,Senior Level,Full Time,Data Engineer,154000,USD,154000,United States,Fully Remote,United States,Medium,False
603,2022,Senior Level,Full Time,Data Engineer,126000,USD,126000,United States,Fully Remote,United States,Medium,False
604,2022,Senior Level,Full Time,Data Analyst,129000,USD,129000,United States,Non Remote Work,United States,Medium,False
605,2022,Senior Level,Full Time,Data Analyst,150000,USD,150000,United States,Fully Remote,United States,Medium,False
606,2022,Mid level,Full Time,AI Scientist,200000,USD,200000,India,Fully Remote,United States,Large,True

In [23]:
# use country converter (coco.convert) to convert the country name to ISO3 standard
salaries['employee_residence_short'] = coco.convert(names=salaries.employee_residence, to='ISO3')
salaries['company_location_short'] = coco.convert(names=salaries.company_location, to='ISO3')

In [24]:
# salaries.to_csv("ds_salaries_cleaned.csv", index=False, encoding="utf-8")

<a id = "6"></a>
<h1 style="padding:10px;background-color:#3498db;opacity: 0.8;margin:0;color:white;font-family:newtimeroman;font-size:200%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Data Visualizations ðŸ“Š</h1>

In [19]:
colors = ['#003f5c', '#2f4b7c', '#665191', '#a05195', '#d45087',
          '#f95d6a', '#ff7c43', '#ffa600']

<a id="6"></a>
## <div style="text-align: left; background-color:#F5C2B4 ; font-family: Trebuchet MS; color: #B31B10; padding: 15px; line-height:1;border-radius:1px; margin-bottom: 0em; text-align: center; font-size: 25px;border-style: solid;border-color: dark green;">Top 10 Data Science Jobs </div>

In [20]:
top10_jobs = query("""
SELECT 
    job_title,
    COUNT(*) AS job_count
FROM 
    salaries
GROUP BY 
    job_title
ORDER BY 
    job_count DESC
LIMIT 
    10
""")

In [21]:
top10_jobs

                    job_title  job_count
0              Data Scientist        143
1               Data Engineer        132
2                Data Analyst         97
3   Machine Learning Engineer         41
4          Research Scientist         16
5        Data Science Manager         12
6              Data Architect         11
7  Machine Learning Scientist          8
8           Big Data Engineer          8
9    Principal Data Scientist          7

In [22]:
data = go.Bar(x=top10_jobs['job_title'],
              y=top10_jobs['job_count'],
              text=top10_jobs['job_count'],
              textposition='inside',
              textfont=dict(size=12,
                            color='white'),
              marker=dict(color=colors,
                          opacity=0.9,
                          line_color='white',
                          line_width=3))

layout = go.Layout(title={
    'text': "<b><i>Top 10 Data Science Jobs</i></b>",
    'x': 0.5,
    'xanchor': 'center'},
    xaxis=dict(title='<b>Job Title</b>', tickmode='array'),
    yaxis=dict(title='<b>Total</b>'),
    width=900,
    height=600)

fig = go.Figure(data=data, layout=layout)
fig.update_layout(plot_bgcolor='#f1e7d2',
                  paper_bgcolor='#f1e7d2')
fig.show()

### Market Distribution of Data Science Jobs

In [25]:
fig = px.pie(top10_jobs,
             values='job_count',
             names='job_title',
             title='Distribution of job positions',
             color_discrete_sequence=colors)
fig.update_layout(title={'text': 'Top 10 Data Science Jobs',
                         'xanchor': 'center', 'x': 0.5},
                  plot_bgcolor='#f1e7d2',
                  paper_bgcolor='#f1e7d2')
fig.show()

<div class="alert alert-block alert-info">
<b>Insights:</b><br> The most jobs are available in data science is <b>Data Scientist</b> followed by <b>Data Engineer</b> & <b>Data Analyst</b>.
</div>