<h1 style="padding:20px;background-color:#3498db;margin:0;color:white;font-family:Georgia;font-size:300%;text-align:center;border-radius: 20px 20px;overflow:hidden;font-weight:500">ðŸ’µ Data Scientist Salaries ðŸ“Š</h1>

<a id="3"></a>
<h1 style="padding:10px;background-color:#3498db;opacity: 0.8;margin:0;color:white;font-family:newtimeroman;font-size:200%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Importing Libraries ðŸ“š</h1>

In [1]:
# For loading data
import pandas as pd
import numpy as np

# pandasql allows you to query pandas DataFrames using SQL syntax
import pandasql as ps

# For ploting graph / Visualization
import plotly.graph_objects as go
import plotly.express as px
from plotly.offline import iplot
import plotly.figure_factory as ff

import plotly.io as pio
import seaborn as sns
import matplotlib.pyplot as plt

# To convert country code to country name
import country_converter as coco

from io import StringIO

In [2]:
pd.set_option('display.max_colwidth', None)

<a id = "4"></a>
<h1 style="padding:10px;background-color:#3498db;opacity: 0.8;margin:0;color:white;font-family:newtimeroman;font-size:200%;text-align:center;border-radius: 15px 50px;overflow:hidden;font-weight:500">Loading Dataset ðŸ’¾</h1>

In [3]:
(pd
 .read_csv("columns_descriptions.csv")
 .style
 .set_properties(**{'text-align': 'left'}))

In [4]:
salaries = pd.read_csv('ds_salaries.csv')

In [5]:
# To see the first five records we can use salaries.head() method.
salaries.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [6]:
# Function query to execute SQL queries
def query(query):
    return ps.sqldf(query)

In [7]:
# Showing Top 5 rows of data
query("""
SELECT * 
FROM 
    salaries 
LIMIT 
    5
""")

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L

In [8]:
# check whether we have any null values in our dataset or not.
salaries.isna().sum()

work_year             0
experience_level      0
employment_type       0
job_title             0
salary                0
salary_currency       0
salary_in_usd         0
employee_residence    0
remote_ratio          0
company_location      0
company_size          0
dtype: int64

In [9]:
# Converting countries code to country names
salaries["employee_residence"] = coco.convert(names=salaries["employee_residence"], to="name")
salaries["company_location"] = coco.convert(names=salaries["company_location"], to="name")

In [10]:
# Replacing values in column - experience_level:
salaries['experience_level'] = query("""
SELECT 
    REPLACE(
        REPLACE(
            REPLACE(
                REPLACE(
                    experience_level, 
                                    'MI', 'Mid level'), 
                                    'SE', 'Senior Level'), 
                                    'EN', 'Entry Level'), 
                                    'EX', 'Expert Level') 
FROM 
    salaries""")

In [11]:
# Replacing values in column - experience_type:
salaries['employment_type'] = query("""
SELECT 
    REPLACE(
        REPLACE(
            REPLACE(
                REPLACE(
                    employment_type, 
                                    'PT', 'Part Time'), 
                                    'FT', 'Full Time'), 
                                    'FL', 'Freelance'), 
                                    'CT', 'Contract') 
FROM 
    salaries
""")

In [12]:
for x in salaries.itertuples():
    print(x.employee_residence)

Germany
Japan
United Kingdom
Honduras
United States
United States
United States
Hungary
United States
New Zealand
France
India
France
United States
United States
Pakistan
Japan
Poland
India
Portugal
China
India
Greece
United States
United Arab Emirates
United States
Netherlands
Mexico
United States
Canada
Germany
United States
Greece
United States
France
Austria
United States
United States
Nigeria
United States
Philippines
Spain
Portugal
United States
United Kingdom
Germany
United Kingdom
United States
United States
France
India
United States
Denmark
Pakistan
Russia
Germany
Spain
United States
United States
United States
United States
Spain
Italy
United States
Croatia
Germany
Germany
United States
United States
Austria
France
France
United Kingdom
India
United States
France
United States
India
United States
United States
Germany
United States
United Kingdom
Spain
Italy
Poland
France
United States
United States
Bulgaria
Greece
Germany
India
United States
India
Singapore
Brazil
United States
United States
Germany
United States
United States
Hungary
United States
United States
United Kingdom
Canada
United States
United States
India
Germany
United Kingdom
United Kingdom
Pakistan
Netherlands
United States
Nigeria
Greece
United States
United States
Spain
United States
United States
United Kingdom
Spain
United States
United States
India
India
India
Iraq
France
Vietnam
Brazil
United States
United States
Japan
Japan
United States
United States
United States
United States
United States
United States
United States
Belgium
France
United States
United States
Brazil
Japan
United States
Canada
Ukraine
United States
Canada
Singapore
United States
United States
United States
Russia
Russia
Malta
Germany
Germany
United States
United States
United States
United States
United States
United States
United Kingdom
United States
United States
Portugal
United States
Mexico
Chile
United States
India
India
Germany
Romania
United Kingdom
Pakistan
Iran
Vietnam
France
Romania
Japan
United States
Colombia
Moldova
United States
Canada
United States
Kenya
India
India
United States
Germany
United States
Spain
France
United States
Brazil
United States
United States
Italy
United States
Slovenia
France
Hong Kong
India
Germany
United States
Denmark
Germany
Belgium
United States
Poland
United Kingdom
India
United Kingdom
United States
United States
Canada
Germany
United States
Canada
India
United States
United States
United States
United States
United States
Canada
Spain
Vietnam
India
Canada
United States
United States
United States
India
United Kingdom
France
TÃ¼rkiye
United Kingdom
United States
United States
United States
United States
India
United States
Canada
United States
Germany
United States
Germany
United States
Germany
India
India
Serbia
Puerto Rico
United States
United States
TÃ¼rkiye
Germany
United States
Brazil
Germany
Netherlands
France
United States
United States
Spain
TÃ¼rkiye
Luxembourg
United States
Jersey
Netherlands
United States
Czech Republic
India
Slovenia
United States
Italy
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United Kingdom
United Kingdom
United States
United States
United Kingdom
United States
United States
United States
United States
United States
United States
United Kingdom
United Kingdom
United Kingdom
United Kingdom
United States
United Kingdom
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United Kingdom
United Kingdom
United States
United States
Canada
Canada
Canada
Canada
Canada
Canada
United States
United States
United States
United States
United States
United States
United States
United States
United States
Greece
Greece
Canada
United States
United States
United States
United States
United States
United States
United States
United States
India
United States
United Kingdom
United States
United States
United Kingdom
United Kingdom
United States
United States
United States
United States
United States
France
United Kingdom
United States
United States
United States
United States
United States
United States
United States
United Kingdom
United States
United States
United Kingdom
United States
United Kingdom
United Kingdom
Greece
Greece
United Kingdom
United Kingdom
United States
Argentina
United States
United States
United States
United States
United States
United States
United States
United States
United States
Spain
United States
United Kingdom
Spain
Spain
Spain
Spain
United Kingdom
United Kingdom
Spain
Greece
United States
United States
Greece
Greece
United Kingdom
United Kingdom
United States
Greece
United States
United States
United States
Portugal
United States
Canada
Canada
United States
United States
United States
United States
Germany
India
India
Portugal
United States
Germany
India
Germany
United States
United States
United States
United States
United States
United States
United States
United States
United States
United Kingdom
United Kingdom
United States
United States
United States
United States
United Arab Emirates
United Arab Emirates
United States
United States
United States
United States
United States
Algeria
Canada
Tunisia
Malaysia
Canada
Poland
Canada
Brazil
United States
Pakistan
United States
France
Canada
Netherlands
Estonia
Japan
Australia
United States
Australia
Bolivia
Austria
United States
United States
Australia
Canada
United States
Ireland
Pakistan
Russia
United States
France
Switzerland
United States
Canada
Portugal
Greece
United States
United States
United States
United States
United States
United States
United States
Canada
Canada
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United Kingdom
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United Kingdom
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
United States
Canada
Canada
United States
United States
United States
United States
India

In [13]:
salaries['overseas'] = [False
                        if row.employee_residence == row.company_location
                        else True
                        for row in salaries.itertuples()]

In [14]:
# Replacing values in column - company_size :
salaries['company_size'] = query("""
SELECT 
    REPLACE(
        REPLACE(
            REPLACE(
                company_size, 
                            'M', 'Medium'), 
                            'L', 'Large'), 
                            'S', 'Small') 
FROM 
    salaries
""")

In [15]:
# Replacing values in column - remote_ratio :
salaries['remote_ratio'] = query("""
SELECT 
    REPLACE(
        REPLACE(
            REPLACE(
                remote_ratio, 
                            '100', 'Fully Remote'), 
                            '50', 'Partially Remote'), 
                            '0', 'Non Remote Work') 
FROM 
    salaries
""")

In [16]:
salaries

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,overseas
0,2020,Mid level,Full Time,Data Scientist,70000,EUR,79833,Germany,Non Remote Work,Germany,Large,False
1,2020,Senior Level,Full Time,Machine Learning Scientist,260000,USD,260000,Japan,Non Remote Work,Japan,Small,False
2,2020,Senior Level,Full Time,Big Data Engineer,85000,GBP,109024,United Kingdom,Partially Remote,United Kingdom,Medium,False
3,2020,Mid level,Full Time,Product Data Analyst,20000,USD,20000,Honduras,Non Remote Work,Honduras,Small,False
4,2020,Senior Level,Full Time,Machine Learning Engineer,150000,USD,150000,United States,Partially Remote,United States,Large,False
...,...,...,...,...,...,...,...,...,...,...,...,...
602,2022,Senior Level,Full Time,Data Engineer,154000,USD,154000,United States,Fully Remote,United States,Medium,False
603,2022,Senior Level,Full Time,Data Engineer,126000,USD,126000,United States,Fully Remote,United States,Medium,False
604,2022,Senior Level,Full Time,Data Analyst,129000,USD,129000,United States,Non Remote Work,United States,Medium,False
605,2022,Senior Level,Full Time,Data Analyst,150000,USD,150000,United States,Fully Remote,United States,Medium,False
606,2022,Mid level,Full Time,AI Scientist,200000,USD,200000,India,Fully Remote,United States,Large,True

In [18]:
# salaries.to_csv("ds_salaries_cleaned.csv", index=False, encoding="utf-8")